.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    width: 100%;
    position: relative;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
}

.logo {
}

.header {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.title {
    font-weight: 700;
    font-size: 3em;
    line-height: 1;
}

.subtitle {
    font-size: 0.9em;
    line-height: 1.2;
    margin-top: 0.5em;
    opacity: 0.75;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
    max-width: 320px;
    & > button[type="submit"] {
        margin-top: 0.25em;
        // color: var(--primary-color);
    }
}

.links__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    --gap: 2em;
    gap: 0.5em var(--gap);
    margin-top: 0.25em;
    & > * + * {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0%;
            transform: translate(-50%, -50%);
            background: currentColor;
            width: 0.35em;
            height: 0.35em;
            margin-left: calc(var(--gap) / -2);
            border-radius: 99em;
            opacity: 0.5;
        }
    }
}

.link {
    font-size: 14px;
    color: var(--link-color);
    text-decoration: underline;
}
