.radio {
    position: relative;
    & > label {
        display: block;
        font-size: 0.9375em;
        box-shadow: 0 0 0 1px rgba(88, 88, 88, 30%);
        padding: 0.325em 1em;
        border-radius: 4px;
        cursor: pointer;
    }
    & > input {
        position: absolute;
        height: 1px;
        width: 1px;
        opacity: 0;
    }
    & > input:checked + label {
        box-shadow: 0 0 0 1px currentColor;
    }
}

.radioGroup {
    & > label {
        font-size: 0.75em;
        opacity: 0.75;
        margin-bottom: 2px;
        line-height: 1.5;
    }
    &__inputs {
        display: flex;
        flex-wrap: wrap;
        gap: 1em 0.75em;
    }
}
