.navbar {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    color: var(--light-color);
    width: 100%;
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
    z-index: 99;
    font-weight: 500;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    // max-width: 1440px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 2em;
    list-style: none;

    & > * {
        cursor: pointer;
    }
    @media screen and (max-width: 430px) {
        display: none;
    }
}

.logo {
    cursor: pointer;
}
