:root {
    --primary-color: #ce2500;
    --complementary-color: #030026;
    --link-color: #1a5ee5;
    // --link-color-hover: #0d3f9a;
    --light-color: #fdfdfd;
    --dark-color: #180e0b;
    --bg-color: var(--light-color);
    --fg-color: #333;
    --shift-height: 0.125em;
    --btn-primary-color: var(--primary-color);
    --btn-bg-color: transparent;
    --btn-fg-color: inherit;
    --btn-shift-color: currentColor;
    --border-color: rgba(88, 88, 88, 30%);
    --navbar-height: 60px;
    --toastify-color-progress-dark: var(--primary-color) !important;
    --scrollbar-width: 12px;
    --scrollbar-track-color: hsl(11, 100%, 90%);
    --scrollbar-thumb-color: hsl(11, 100%, 70%);
    --scrollbar-thumb-hover-color: hsl(11, 100%, 50%);
    --scrollbar-button-color: hsl(11, 100%, 70%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: inherit;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar {
    width: var(--scrollbar-width);

    &-track {
        background: var(--scrollbar-track-color);
    }
    &-thumb {
        background: var(--scrollbar-thumb-color);

        &:hover {
            background: var(--scrollbar-thumb-hover-color);
        }
    }
    &-button {
        background: var(--scrollbar-button-color);
    }
}
html {
    height: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: var(--navbar-height);
    // custom scrollbar using ::-webkit-scrollbar
}

body {
    min-height: 100%;
    background: var(--bg-color);
    color: var(--fg-color);
    font-family: "EB Garamond", "Times New Roman", serif;
    &.dark {
        --primary-color: #3b0c01;
        --btn-primary-color: var(--primary-color);
    }
}

main {
    min-height: calc(100vh - var(--navbar-height));
    margin: 0 auto;
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    display: block;
    background: transparent;
    border: none;
    padding: 0.5em 1.5em;
    font: inherit;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

input,
textarea,
select {
    display: block;
    padding: 0.5em 0.625em;
    border-radius: 4px;
    &::placeholder {
        color: rgba(88, 88, 88, 40%);
    }
}

input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

select {
    font: inherit;
    border: 1px solid rgba(88, 88, 88, 30%);
    border-radius: 4px;
    cursor: pointer;
    background: transparent;
}

.input-group {
    display: flex;
    flex-direction: column;

    & > label {
        font-size: 0.75em;
        opacity: 0.75;
        margin-bottom: 2px;
    }
    & input,
    & textarea,
    & select {
        font-size: 15px;
        border: 1px solid var(--border-color);
        transition: box-shadow 100ms ease-out, transform 100ms ease-out;
        &:focus {
            --border-color: rgba(88, 88, 88, 60%);
            outline: none;
            box-shadow: 0 var(--shift-height) 0 var(--border-color);
            transform: translateY(calc(-1 * var(--shift-height)));
        }
    }

    & textarea {
        resize: vertical;
        height: 15ex;
        max-height: 30ex;
        min-height: 6ex;
        &::-webkit-scrollbar {
            &-button {
                display: none;
            }
        }
    }
}

.btn {
    position: relative;
    padding: 0.5em 1.5em;
    font: inherit;
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: box-shadow 150ms ease-out, transform 150ms ease-out;
    border-radius: 4px;
    color: var(--btn-fg-color, inherit);
    background: var(--btn-bg-color, var(--primary-color));

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        border-radius: inherit;
    }
    &:hover {
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            z-index: -1;
            border-radius: inherit;
            background: rgba(88, 88, 88, 10%);
        }
    }
    // &:active {
    //     box-shadow: 0 var(--shift-height) 0 var(--btn-shift-color);
    //     transform: translateY(calc(-1 * var(--shift-height)));
    // }
    &:focus,
    &:focus-visible,
    &:focus-within {
        box-shadow: 0 0 0 var(--shift-height) var(--btn-shift-color);
        // transform: translateY(calc(-1 * var(--shift)));
    }

    &-primary {
        --btn-bg-color: var(--primary-color);
        --btn-fg-color: var(--light-color);
        --btn-shift-color: hsl(11, 100%, 80%);
    }

    &-secondary {
        border: 1px solid currentColor;
        // --btn-fg-color: var(--primary-color);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(1turn);
    }
}
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
// @media (prefers-color-scheme: dark) {
//     html {
//         color-scheme: dark;
//     }
// }
