.col {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    // gap: 2em;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    gap: 2em;
    padding: 2em;
    border-bottom: 1px solid var(--border-color);
}
